<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotBalanced.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F875E7F1F6D396400834CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F875E931F6D396400834CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F875E9E1F6D396400834CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
